/* Global */
:root {
  /* Color */
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #a0a0a0;
  --color-light-grey: #e1e1e1;
  --color-white-smoke: #f5f5f5;
  --color-white: #ffffff;

  /* Font Family */
  --font-style: 'IBM Plex Mono', monospace;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 200;

  /* Size */
  --size-border-radius: 6px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Univeral Tags */
* {
  font-family: var(--font-style);
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  width: 100%;
  z-index: 1;
}

#navbar.navbar--dark {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 16px 0 rgba(105, 105, 105, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__menu {
  display: flex;
  padding: 4px;
  margin: 4px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 16px;
}

.navbar__menu__item {
  padding: 9px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 2px solid black;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-white-smoke);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 16px;
  right: 32px;
  font-size: 24px;
  color: var(--color-black);
  display: none;
}

/* Home */
#home {
  background: var(--color-light-grey);
  text-align: center;
  padding: 40px;
  padding-top: 180px;
}

.home__avatar {
  width: 200px;
  height: 200px;
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-black);
}

.home__title,
.home__description {
  color: var(--color-black);
}

#home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
}

/* Section Common */
section {
  padding: 40px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1024px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.major__icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 16px;
  color: var(--color-black);
  width: 160px;
  height: 160px;
  line-height: 170px;
  font-size: 48px;
  margin: auto;
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
  margin-bottom: 16px;
}

.major__icon svg {
  transition: all var(--animation-duration) ease-in;
}

.major__icon:hover svg {
  transform: scale(1.2);
}

.major__description {
  font-size: var(--font-small);
}

/* Skills */
#skills {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
}

.skillset {
  display: flex;
  margin-top: 16px;
  max-width: 900px;
}

.skillset__left {
  flex-basis: 50%;
  background-color: rgb(230, 173, 173);
  padding: 16px;
}

.skillset__right {
  flex-basis: 50%;
  background-color: lightgoldenrodyellow;
  padding: 16px;
}

.skillset__title {
  font-weight: var(--weight-semi-bold);
  text-decoration: underline;
}

/* Work */
.category__btn {
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 24px;
  margin-bottom: 24px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.category__btn.active,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: rgb(150, 222, 255);
  border-radius: 50%;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  font-size: var(--font-small);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  max-width: 100%;
  max-width: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.9;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description span {
  color: var(--color-white);
  margin: 0 8px;
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  margin-left: -38px;
  margin-top: 8px;
  width: 80px;
  height: 2px;
  background-color: var(--color-white);
}

/* Contact */

#contact {
  background-color: var(--color-light-grey);
  padding: 50px 50px 24px 50px;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-black);
}

.contact__title {
  margin: 32px 0;
}

.contact__email {
  font-size: var(--font-medium);
}

.contact__links {
  font-size: var(--font-large);
  margin: 32px 0 48px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links svg:hover {
  transition: all var(--animation-duration) ease-in;
  transform: scale(1.2);
}

.contact__rights {
  margin: 0;
  font-size: var(--font-micro);
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 64px;
  }

  .navbar__logo {
    margin: 16px 0 0 32px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .section__container {
    padding: 16px;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 32px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }
}
